
<div style="text-align: center; margin-top: 190px; color: rgb(255, 0, 179); ">
  <h1>Hi <%= name %>
  </h1>
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
  </form>
</div>